# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'dayone'
      'submenu': [
        { 'label': 'Create', 'command': 'dayone:create' }
      ]
    ]
  }
]
